<html>

<head>
	<title>The Stash | Staff Application Form</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootswatch Darkly theme -->
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/latest/darkly/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Styles -->
	<style>
		.form-container {
			max-width: 800px;
			/* Set max-width for the form container */
			margin: 0 auto;
			/* Center the form container */
		}

		.form-control {
			width: auto;
			/* Make text boxes a decent width */
		}

		#success {
			font-size: 100px;
		}
	</style>
</head>

<body>
	<!-- Big ol centered text that says Success-->
	<center>
	<h1 id="success">Submission Failed!</h1>
	<p class="lead">An error occurred when trying to submit your form!
		The most likely cause of this is attempting to submit another form using the same Steam account or Discord account.
		If you feel this is an error, please contact a member of the Promotions Team or Council.
	</p>
	<button onclick="window.location = '/logout'" class="btn btn-primary">Logout</button>
</center>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
</body>

</html>