<html>

<head>
	<title>The Stash | Access Denied</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootswatch Darkly theme -->
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/latest/darkly/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Custom CSS to center main div both vertically and horizontally-->
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			/* 100% of the viewport height */
			margin: 0;
		}

		.centered-div {
			/* Additional styling if needed */
			max-width: 400px;
		}
	</style>
	<style>
		body {
			position: relative;
			/* Adjust this value based on your footer height */
		}

		footer {
			position: absolute;
			bottom: 0;
			text-align: center;
			
			padding: 10px;
		}
	</style>
</head>

<body>

	<div class="alert alert-danger centered-div" role="alert">
		<h4 class="alert-heading">Access Denied!</h4>
		<p>The Stash Staff Application Form is not available to you at the moment.</p>
		<p><%=reason%></p>
		<hr>
		<p class="mb-0">If you believe this is an error, please contact support.</p>
	</div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
	<footer>
		<p>&copy; <%= new Date().getFullYear() %> The Stash</p>
	</footer>
</body>

</html>
