<html>

<head>
	<title>The Stash | Staff Application Form</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootswatch Darkly theme -->
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/latest/darkly/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Custom Styles -->
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			/* 100% of the viewport height */
			margin: 0;
		}
	</style>
</head>

<body>
	<!-- Big ol centered text that says Success-->
	<center>
	<h1 id="success">Submission Failed!</h1>
	<p class="lead">An error occurred when trying to submit your form!
		The most likely cause of this is attempting to submit another form using the same Steam account or Discord account.
		If you feel this is an error, please contact a member of the Promotions Team or Council.
	</p>
	<button onclick="window.location = '/logout'" class="btn btn-primary">Logout</button>
</center>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
</body>

</html>